
.run-id-filter-well {
  h5 {
    display: inline-block;
    margin-left: 10px;
  }
  .run-id-options-wrapper {
    display: inline-block;
    margin-left: 10px;
  }
  .metric-label-options-wrapper {
    margin-left: 10px;
    margin-right: 10px;
    width: 200px;
    display: inline-block;
  }
  .plus-button {
    margin-left: 10px;
    width: 70px;
    display: inline-block;
  }
  .minus-button {
    margin-left: -10px;
    margin-right: 10px;
  }
}